  :root {
      --color-principal: black; 
      --color-secundario: rgb(243, 8, 8); 
      --fuente-base: Lucida; 
  }

body { 
    margin: 30px;
    height: 100vh;
    color: black;
    background-color: rgb(153, 207, 211);
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    
   
  }
   
  header {
    margin: 20px;
    justify-content: center;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    background-color: lightblue;
    border-radius: 1%;
  }

  h1 {
    color: var(--color-principal);
    font: var(--fuente-base);
    font-size: 100px;
    justify-content: center;
    align-items: center;
    
  }


  nav {
    margin: 30px;
    padding: 15px 30px;
    font-size: 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color:  rgb(181, 245, 250);
    color: #333;
    transition: transform 0.3s;
  }

  nav:hover {
    transform: scale(1.1);
    color: red;
  }
  ul {
    margin: 30px;
    padding: 15px 15px;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    list-style-type: none;
    display: flex;
    gap: 2em;
  }
  .a {
    color:initial; /* Color inicial */
    text-decoration: none; 
  }
  main {
    margin: 20px;
    justify-content: center;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    background-color: lightblue;
    border-radius: 1%;
    
  }

  article {
    margin: 20px;
    line-height: 1.5;
  }
  li{
    margin: 5px;
  }
  img { 
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    display: block;
    flex-direction: column;
  }



  #form {
    margin: 20px; 
    padding: 15px;
    background-color: rgb(153, 207, 211);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    align-content: center;
    border: #333;
    border-radius: 8px;
  }
  
  #iniciarcurso {
    justify-content: center;
    align-content: center;
    display: flex;
    font-size: 30px;
    color: var(--color-secundario);
  }

  button {
    padding: 15px 30px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
    color: #333;
    transition: transform 0.3s;
  }
  
  button:hover {
    transform: scale(1.1);
  }

  footer {
    display: flex;
    margin: 20px;
    padding: 15px;
    justify-content: right;
  }